@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here's a list of recent shows Daniel has watched (he always forgets them...)</p>
</div>
